.about-container {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-garabato-abstracto-diseno-plano-dibujado-mano_23-2149319218.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ajusta la altura según tu preferencia */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  background-color: rgba(255, 255, 255, 0.8); /* Ajusta la opacidad según tu preferencia */
  padding: 20px;
  border-radius: 10px;
}
