<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Welcome to Our Website!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus lacinia mauris id suscipit. Nullam dictum volutpat ligula, nec consequat lorem tempus sed.</p>
      <p>Nunc ut dui et ante tristique sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <!-- Agrega más contenido aquí -->
    </div>
    <div class="col-md-4">
      <!-- Aquí puedes agregar contenido adicional, como un formulario de contacto, últimas noticias, etc. -->
    </div>
  </div>
</div>
